/*-----------------------------------*\
  #LAYOUT
  Main layout structures
\*-----------------------------------*/

/*-----------------------------------*\
  #MAIN CONTENT
\*-----------------------------------*/

.main-content {
  position: relative;
  width: max-content;
  margin: auto;
}
