/*-----------------------------------*\
  #PRINT
  Print styles
\*-----------------------------------*/

@media print {
  .navbar,
  .theme-toggle-btn,
  .info_more-btn,
  .form-btn {
    display: none !important;
  }

  body {
    background: white;
    color: black;
  }

  .sidebar, article {
    box-shadow: none;
    border: 1px solid #ddd;
  }
}
